# Python environment
backend/venv/
backend/__pycache__/
*.pyc

# Local configurations / secrets
backend/.env

# Databases
backend/furniture_service.db
*.db
*.sqlite3

# Flask Session
backend/flask_session/

# IDE / Editor configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
